<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" /><meta name="format-detection" content="telephone=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11" />
		<title>广东快乐十分玩法规则</title>
		<link rel="stylesheet" href="static/css/headorfood.css" />
		<link rel="stylesheet" href="static/css/guizejianjie.css" />
		<link rel="shortcut icon" href="../../img/icon/168favicon.ico?v=2019481527">
		<link rel="stylesheet" href="static/css/user_adv.css" />
		<!--<link rel="stylesheet" href="static/css/style.css" />-->
		<link rel="stylesheet" href="static/css/home.css" />
		<script src="static/js/jquery.min.js"></script>
		<script src="static/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="static/js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="static/js/config.js"></script>
		<script type="text/javascript" src="static/js/ga.js"></script>
		<script type="text/javascript" src="static/js/wfgz_hf.js"></script>
	</head>

	<body>
		<div class="bodybox">
			<div id="headdivbox"></div>

			<!--规则展示-->
			<div class="guize">
				<div class="guize_intro">首页 &gt;广东快乐十分玩法规则</div>
				<div class="guize_menu">
					<ul>
						<li class="guize_head">
							<strong>玩法规则</strong>
						</li>
						<li class="hover">
							<a href="PK10_wanfaguize.html"><strong>北京PK10</strong></a>
						</li>
						<!--<li class="hover">
							<a href="tencent_ffc_wanfaguize.html"><strong>腾讯分分彩</strong></a>
						</li>-->
						<li class="hover">
							<a href="CQssc_wanfaguize.html"><strong>重庆时时彩</strong></a>
						</li>
						<li class="hover">
							<a href="hayypCZ_wanfaguize.html"><strong>重庆欢乐生肖</strong></a>
						</li>
						<li class="hover">
							<a href="XJssc_wanfaguize.html"><strong>新疆时时彩</strong></a>
						</li>
						<li class="hover">
							<a href="TJssc_wanfaguize.html"><strong>天津时时彩</strong></a>
						</li>
						<li class="active">
							<a href="GDklsf_wanfaguize.html"><strong>广东快乐十分</strong></a>
						</li>
						<li class="hover">
							<a href="GD11x5_wanfaguize.html"><strong>广东11选5</strong></a>
						</li>
						<li class="hover">
							<a href="JSK3_wanfaguize.html"><strong>江苏快3</strong></a>
						</li>
						<li class="hover">
							<a href="SYYDJ_wanfaguize.html"><strong>十一运夺金</strong></a>
						</li>
						<li class="hover">
							<a href="CQXYNC_wanfaguize.html"><strong>重庆幸运农场</strong></a>
						</li>
						<li class="hover">
							<a href="KUAI3_wanfaguize.html"><strong>快3</strong></a>
						</li>
						<li class="hover">
							<a href="SYX5_wanfaguize.html"><strong>11选5</strong></a>
						</li>
						<li class="hover">
							<a href="BJKL8_wanfaguize.html"><strong>北京快乐8</strong></a>
						</li>
							<li class="hover">
							<a href="GXKLSF.html"><strong>广西快乐十分</strong></a>
						</li>
						<li class="hover">
							<a href="EGXY28.html"><strong>PC蛋蛋幸运28</strong></a>
						</li>
						<li class="hover">
							<a href="CJDLT.html"><strong>超级大乐透</strong></a>
						</li>
						<li class="hover">
							<a href="FCSD.html"><strong>福彩3D</strong></a>
						</li>
						<li class="hover">
							<a href="FCQLT.html"><strong>福彩七乐彩</strong></a>
						</li>
						<li class="hover">
							<a href="FCSSQ.html"><strong>福彩双色球</strong></a>
						</li>
						<li class="hover">
							<a href="PLS.html"><strong>体彩排列3</strong></a>
						</li>
						<li class="hover">
							<a href="PLW.html"><strong>体彩排列5</strong></a>
						</li>
						<li class="hover">
							<a href="QXC.html"><strong>体彩七星彩</strong></a>
						</li>
						<li class="hover">
							<a href="TWBG_wanfaguize.html"><strong>台湾宾果</strong></a>
						</li>
					</ul>
				</div>
				<!--规则详情-->
				<div class="guize_detail">
					<div class="container">
						<p style=";text-align:center">
							<strong><span style="font-weight:900;font-family: 微软雅黑; font-size: 18px;">广东快乐十分玩法规则</span></strong>
						</p>
						<p>
							<strong><span style="font-weight:900;font-family: 微软雅黑; font-size: 16px;">总则</span></strong>
						</p>
						<p>
							<span style="font-family: 微软雅黑;font-size: 12px"><span style="font-family:微软雅黑">经财政部、中国福利彩票发行管理中心批准，一种全新的快速开奖游戏中国福利彩票</span>“快乐十分”将于近期在我省发行销售。“快乐十分”集中了目前市场上所有快速开奖游戏的优点，返奖高，开奖快，更好玩。返奖率高达59%，每20分钟开奖一期，共10种玩法，排列、组合、数字、颜色都可选；“快乐十分”共有20个号码可供选择；每注可投1—5个号码，每期开出8个中奖号码，使中奖更容易。</span>
						</p>
						<p>
							<strong><span style="font-weight:900;font-family: 微软雅黑; font-size: 16px;">广东快乐十分玩法</span></strong>
						</p>
						<table width="804" border="1" cellpadding="0" cellspacing="0">
							<tbody>
								<tr class="firstRow">
									<td width="39" valign="center" style="padding: 5px 5px 3px; border-width: 1px; border-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">玩法</span>
										</p>
									</td>
									<td width="222" valign="center" style="padding: 5px 5px 3px; border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-top-width: 1px; border-top-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">投注</span>
										</p>
									</td>
									<td width="195" valign="center" style="padding: 5px 5px 3px; border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-top-width: 1px; border-top-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">中奖</span>
										</p>
									</td>
									<td width="47" valign="center" style="padding: 5px 5px 3px; border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-top-width: 1px; border-top-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">中奖</span><span style="font-family: 微软雅黑;font-size: 12px"><br/></span><span style="font-family: 微软雅黑;font-size: 12px">概率</span>
										</p>
									</td>
								</tr>
								<tr>
									<td width="39" valign="center" style="padding: 5px 5px 3px; border-left-width: 1px; border-left-color: rgb(204, 204, 204); border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">选一数投</span>
										</p>
									</td>
									<td width="222" valign="center" style="padding: 5px 5px 3px; border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">指从01至18中任意选择1个数字号码，对开奖号码中按开奖顺序出现的第一个位置的投注。</span>
										</p>
									</td>
									<td width="195" valign="center" style="padding: 5px 5px 3px; border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">投注号码与开奖号码中按开奖顺序出现的第一个位置数字号码相符，即中奖。</span>
										</p>
									</td>
									<td width="47" valign="center" style="padding: 5px 5px 3px; border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">1/20</span>
										</p>
									</td>
								</tr>
								<tr>
									<td width="39" valign="center" style="padding: 5px 5px 3px; border-left-width: 1px; border-left-color: rgb(204, 204, 204); border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">选一红投</span>
										</p>
									</td>
									<td width="222" valign="center" style="padding: 5px 5px 3px; border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">指从19和20两个红色号码中任意选择1个红色号码，对开奖号码中按开奖顺序出现的第一个位置的投注。</span>
										</p>
									</td>
									<td width="195" valign="center" style="padding: 5px 5px 3px; border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">投注号码与开奖号码中按开奖顺序出现的第一个位置为红色号码，即中奖。</span>
										</p>
									</td>
									<td width="47" valign="center" style="padding: 5px 5px 3px; border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">1/10</span>
										</p>
									</td>
								</tr>
								<tr>
									<td width="39" valign="center" style="padding: 5px 5px 3px; border-left-width: 1px; border-left-color: rgb(204, 204, 204); border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">选二任选</span>
										</p>
									</td>
									<td width="222" valign="center" style="padding: 5px 5px 3px; border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">指从01至20中任意选择2个号码对开奖号码中任意2个位置的投注。</span>
										</p>
									</td>
									<td width="195" valign="center" style="padding: 5px 5px 3px; border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">投注号码与开奖号码中任意2个位置的号码相符，即中奖。</span>
										</p>
									</td>
									<td width="47" valign="center" style="padding: 5px 5px 3px; border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">1/6.8</span>
										</p>
									</td>
								</tr>
								<tr>
									<td width="39" valign="center" style="padding: 5px 5px 3px; border-left-width: 1px; border-left-color: rgb(204, 204, 204); border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">选二连组</span>
										</p>
									</td>
									<td width="222" valign="center" style="padding: 5px 5px 3px; border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">指从01至20中任意选择2个号码对开奖号码中按开奖顺序出现的2个连续位置的投注。</span>
										</p>
									</td>
									<td width="195" valign="center" style="padding: 5px 5px 3px; border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">投注号码与开奖号码中按开奖顺序出现的2个连续位置的号码相符（顺序不限），即中奖。</span>
										</p>
									</td>
									<td width="47" valign="center" style="padding: 5px 5px 3px; border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">1/27</span>
										</p>
									</td>
								</tr>
								<tr>
									<td width="39" valign="center" style="padding: 5px 5px 3px; border-left-width: 1px; border-left-color: rgb(204, 204, 204); border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">选二连直</span>
										</p>
									</td>
									<td width="222" valign="center" style="padding: 5px 5px 3px; border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">指从01至20中任意选择2个号码对开奖号码中按开奖顺序出现的2个连续位置按位相符的投注。</span>
										</p>
									</td>
									<td width="195" valign="center" style="padding: 5px 5px 3px; border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">投注号码与开奖号码中按开奖顺序出现的2个连续位置的号码按位相符，即中奖。</span>
										</p>
									</td>
									<td width="47" valign="center" style="padding: 5px 5px 3px; border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">1/54</span>
										</p>
									</td>
								</tr>
								<tr>
									<td width="39" valign="center" style="padding: 5px 5px 3px; border-left-width: 1px; border-left-color: rgb(204, 204, 204); border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">选三任选</span>
										</p>
									</td>
									<td width="222" valign="center" style="padding: 5px 5px 3px; border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">指从01至20中任意选择3个号码对开奖号码中任意3个位置的投注。</span>
										</p>
									</td>
									<td width="195" valign="center" style="padding: 5px 5px 3px; border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">投注号码与开奖号码中任意3个位置的号码相符，即中奖。</span>
										</p>
									</td>
									<td width="47" valign="center" style="padding: 5px 5px 3px; border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">1/20</span>
										</p>
									</td>
								</tr>
								<tr>
									<td width="39" valign="center" style="padding: 5px 5px 3px; border-left-width: 1px; border-left-color: rgb(204, 204, 204); border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">选三前组</span>
										</p>
									</td>
									<td width="222" valign="center" style="padding: 5px 5px 3px; border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">指从01至20中任意选择3个号码对开奖号码中按开奖顺序出现的前3个连续位置的投注。</span>
										</p>
									</td>
									<td width="195" valign="center" style="padding: 5px 5px 3px; border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">投注号码与开奖号码中按开奖顺序出现的前3个位置的号码相符（顺序不限），即中奖。</span>
										</p>
									</td>
									<td width="47" valign="center" style="padding: 5px 5px 3px; border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">1/1140</span>
										</p>
									</td>
								</tr>
								<tr>
									<td width="39" valign="center" style="padding: 5px 5px 3px; border-left-width: 1px; border-left-color: rgb(204, 204, 204); border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">选三前直</span>
										</p>
									</td>
									<td width="222" valign="center" style="padding: 5px 5px 3px; border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">指从01至20中任意选择3个号码对开奖号码中按开奖顺序出现的前3个连续位置按位相符的投注。</span>
										</p>
									</td>
									<td width="195" valign="center" style="padding: 5px 5px 3px; border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">投注号码与开奖号码中按开奖顺序出现的前3个位置的号码按位相符，即中奖。</span>
										</p>
									</td>
									<td width="47" valign="center" style="padding: 5px 5px 3px; border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">1/6840</span>
										</p>
									</td>
								</tr>
								<tr>
									<td width="39" valign="center" style="padding: 5px 5px 3px; border-left-width: 1px; border-left-color: rgb(204, 204, 204); border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">选四任选</span>
										</p>
									</td>
									<td width="222" valign="center" style="padding: 5px 5px 3px; border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">指从01至20中任意选择4个号码，对开奖号码中任意4个位置的投注。</span>
										</p>
									</td>
									<td width="195" valign="center" style="padding: 5px 5px 3px; border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">投注号码与开奖号码中任意4个位置的号码相符，即中奖。</span>
										</p>
									</td>
									<td width="47" valign="center" style="padding: 5px 5px 3px; border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">1/69</span>
										</p>
									</td>
								</tr>
								<tr>
									<td width="39" valign="center" style="padding: 5px 5px 3px; border-left-width: 1px; border-left-color: rgb(204, 204, 204); border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">选五任选</span>
										</p>
									</td>
									<td width="222" valign="center" style="padding: 5px 5px 3px; border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">指从01至20中任意选择5个号码，对开奖号码中任意5个位置的投注。</span>
										</p>
									</td>
									<td width="195" valign="center" style="padding: 5px 5px 3px; border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">投注号码与开奖号码中任意5个位置的号码相符，即中奖。</span>
										</p>
									</td>
									<td width="47" valign="center" style="padding: 5px 5px 3px; border-right-width: 1px; border-right-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-color: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">1/277</span>
										</p>
									</td>
								</tr>
							</tbody>
						</table>
						<p>
							<strong><span style="font-weight:900;font-family: 微软雅黑; font-size: 16px;">20分钟开奖一期</span></strong>
						</p>
						<p>
							<span style="font-family: 微软雅黑;font-size: 12px"><span style="font-family:微软雅黑">　　据了解，即将上市的中国福利彩票</span>“快乐十分”一个很重要的特点就是开奖快，每隔20分钟就开奖一期，是目前全国快速开奖游戏中最为“快速”的游戏之一。“快乐十分”开奖采用的是专用电子开奖设备，每期从01—20共20个号码中随机生成8个不同号码，作为当期开奖号码。每期的开奖号码都会通过与数据中心连接的视频设备显示，在每个“快乐十分”销售网点都可以收看到。</span>
						</p>
						<p>
							<span style="font-family: 微软雅黑;font-size: 12px">10种玩法多种选择</span>
						</p>
						<p>
							<span style="font-family: 微软雅黑;font-size: 12px">　　“快乐十分”是从01—20个号码中任选1—5个号码组合为一注彩票进行投注，它共有10种玩法，包含了排列、组合投注方式，特别是值得一提的是，选一投注有“选一数投”和“选一红投”，即投注时可以选数字，也可以选颜色。10种玩法按排列、组合的方式可以分为三种：一是组合玩法：选二任选、选三任选、选四任选、选五任选，这4种玩法的投注、中奖不讲顺序，只要当期开奖的8个号码中有所投注的号码，则就中奖了；二是组合兼排列的定位玩法：即定中奖号码位置但不定中奖号码出现顺序，包括选二连组、选三前组；三是排列玩法，是既定中奖号码位置又定中奖号码出现顺序，包括选一数投、选一红投和选二连直、选三前直共4种玩法。</span>
						</p>
						<p>
							<strong><span style="font-weight:900;font-family: 微软雅黑; font-size: 16px;">投注号码少，开奖号码多</span></strong>
						</p>
						<p>
							<span style="font-family: 微软雅黑;font-size: 12px">　　“快乐十分”每注投注号码为1—5个，但是每期开出8个号码作为当期开奖号码，开奖号码远远大于所投注号码，使中奖更容易。以“快乐十分”中投注号码最多的玩法“任选五”为例，每注投注5个号码，只要这5个号码在所开奖的8个中奖号码中就中奖。特别是对于喜欢包号投注的彩民而言，如果“任选5”包8个号投注，如果所包的8个号码与8个中奖号码完全相同，则其中奖注数就达到56注，总奖金17920元。</span>
						</p>
						<p>
							<strong><span style="font-weight:900;font-family: 微软雅黑; font-size: 16px;">购买方式</span></strong>
						</p>
						<p>
							<span style="font-family: 微软雅黑;font-size: 12px">　　1)代购：</span><span style="font-family: 微软雅黑;font-size: 12px"><span style="font-family:微软雅黑">代购指用户进行网上选号发起方案，并认购全部份额，然后委托本站代为购买彩票。</span></span><span style="font-family: 微软雅黑;font-size: 12px"><br/></span><span style="font-family: 微软雅黑;font-size: 12px">　　2)追号：</span><span style="font-family: 微软雅黑;font-size: 12px"><span style="font-family:微软雅黑">追号指将一注或一组号码进行两期或两期以上的投注。追号可分为连续追号和间隔追号，连续追号指追号的期数是连续的，间隔追号指追号的期数不连续。</span></span>
						</p>
						<p>
							<span style="font-family: 微软雅黑;font-size: 12px">&nbsp;</span>
						</p>
						<p>
							<br/>
						</p>
					</div>
				</div>
			</div>

			<div id="fooderbox"></div>
		</div>
		<div class="fixedgoBack">
			<div class="fix1200">
				<ul>
					<li>
						<a class="kefuicon" target="_blank" href="http://crm2.qq.com/page/portalpage/wpa.php?lang=&uin=800057725&cref=http://www.168kai.cc&ref=&pt=168%E5%BC%80%E5%A5%96%E7%BD%91&f=1&ty=1&ap=&as="></a>
					</li>
					<li>
						<!--用户反馈模态框-->
						<span class="fankuicon fankuicon_a" data-toggle="modal" data-target="#myModal">
							<span class="fankuicons"></span>
						</span>

					</li>
					<li>
						<a class="topicon" id="gotop" href="javascript:"></a>
					</li>
				</ul>
			</div>
		</div>
		<!--模态框-->
		<!-- 模态框（Modal） -->
		<div id="user_adv"></div>

	</body>

</html>