<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" /><meta name="format-detection" content="telephone=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11" />
		<title>广东11选5玩法规则</title>
		<link rel="stylesheet" href="static/css/headorfood.css" />
		<link rel="stylesheet" href="static/css/guizejianjie.css" />
		<link rel="shortcut icon" href="../../img/icon/168favicon.ico?v=2019481527">
		<link rel="stylesheet" href="static/css/user_adv.css" />
		<!--<link rel="stylesheet" href="static/css/style.css" />-->
		<link rel="stylesheet" href="static/css/home.css" />
		<script src="static/js/jquery.min.js"></script>
		<script src="static/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="static/js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="static/js/config.js"></script>
		<script type="text/javascript" src="static/js/ga.js"></script>
		<script type="text/javascript" src="static/js/wfgz_hf.js"></script>
	</head>

	<body>
		<div class="bodybox">
			<div id="headdivbox"></div>

			<!--规则展示-->
			<div class="guize">
				<div class="guize_intro">首页 &gt;广东11选5玩法规则</div>
				<div class="guize_menu">
					<ul>
						<li class="guize_head">
							<strong>玩法规则</strong>
						</li>
						<li class="hover">
							<a href="PK10_wanfaguize.html"><strong>北京PK10</strong></a>
						</li>
						<!--<li class="hover">
							<a href="tencent_ffc_wanfaguize.html"><strong>腾讯分分彩</strong></a>
						</li>-->
						<li class="hover">
							<a href="CQssc_wanfaguize.html"><strong>重庆时时彩</strong></a>
						</li>
						<li class="hover">
							<a href="hayypCZ_wanfaguize.html"><strong>重庆欢乐生肖</strong></a>
						</li>
						<li class="hover">
							<a href="XJssc_wanfaguize.html"><strong>新疆时时彩</strong></a>
						</li>
						<li class="hover">
							<a href="TJssc_wanfaguize.html"><strong>天津时时彩</strong></a>
						</li>
						<li class="hover">
							<a href="GDklsf_wanfaguize.html"><strong>广东快乐十分</strong></a>
						</li>
						<li class="active">
							<a href="GD11x5_wanfaguize.html"><strong>广东11选5</strong></a>
						</li>
						<li class="hover">
							<a href="JSK3_wanfaguize.html"><strong>江苏快3</strong></a>
						</li>
						<li class="hover">
							<a href="SYYDJ_wanfaguize.html"><strong>十一运夺金</strong></a>
						</li>
						<li class="hover">
							<a href="CQXYNC_wanfaguize.html"><strong>重庆幸运农场</strong></a>
						</li>
						<li class="hover">
							<a href="KUAI3_wanfaguize.html"><strong>快3</strong></a>
						</li>
						<li class="hover">
							<a href="SYX5_wanfaguize.html"><strong>11选5</strong></a>
						</li>
						<li class="hover">
							<a href="BJKL8_wanfaguize.html"><strong>北京快乐8</strong></a>
						</li>
							<li class="hover">
							<a href="GXKLSF.html"><strong>广西快乐十分</strong></a>
						</li>
						<li class="hover">
							<a href="EGXY28.html"><strong>PC蛋蛋幸运28</strong></a>
						</li>
						<li class="hover">
							<a href="CJDLT.html"><strong>超级大乐透</strong></a>
						</li>
						<li class="hover">
							<a href="FCSD.html"><strong>福彩3D</strong></a>
						</li>
						<li class="hover">
							<a href="FCQLT.html"><strong>福彩七乐彩</strong></a>
						</li>
						<li class="hover">
							<a href="FCSSQ.html"><strong>福彩双色球</strong></a>
						</li>
						<li class="hover">
							<a href="PLS.html"><strong>体彩排列3</strong></a>
						</li>
						<li class="hover">
							<a href="PLW.html"><strong>体彩排列5</strong></a>
						</li>
						<li class="hover">
							<a href="QXC.html"><strong>体彩七星彩</strong></a>
						</li>
						<li class="hover">
							<a href="TWBG_wanfaguize.html"><strong>台湾宾果</strong></a>
						</li>
					</ul>
				</div>
				<!--规则详情-->
				<div class="guize_detail">
					<div class="container">
						<p style="margin-top:5px;margin-right:0;margin-bottom:5px;margin-left:0;text-indent:0;text-align:center">
							<strong><span style="font-weight:900;font-family: 微软雅黑; font-size: 18px;">广东11选5玩法规则</span></strong>
						</p>
						<p>
							<span style="font-family: 微软雅黑;font-size: 12px">11选5是从01-11共11个号码中任选1-8个号码进行投注，每期开出5个号码为中将号码，设12个奖项，相当于12个玩法，投注方式灵活，开奖频次高，全面满足不同彩民的投注需要。</span>
						</p>
						<p>
							<span style="font-size: 16px;"><strong><span style="font-weight:900;font-family: 微软雅黑;">任选一（即选前一）：</span></strong>
							</span><span style="font-family: 微软雅黑;font-size: 12px"><span style="font-family:微软雅黑">从</span>11个号码中任选1个号码，与当期第1个开奖号码相同则中奖。中奖概率1/11，单注奖金13元。<br/><span style="font-family:微软雅黑">特点：相当于</span>11选1，中奖更容易，奖金更丰厚。</span>
						</p>
						<p>
							<span style="font-weight:900;font-family: 微软雅黑; font-size: 16px;">任选二：</span><span style="font-family: 微软雅黑;font-size: 12px"><span style="font-family:微软雅黑">从</span>11个号码中任选2个号码，与当期5个开奖号码中的任2个相同则中奖。中奖概率1/5.5，单注奖金6元。<br/><span style="font-family:微软雅黑">特点：</span>5个开奖号码任意选对2个即中奖，中奖率最高。</span>
						</p>
						<p>
							<span style="font-weight:900;font-family: 微软雅黑; font-size: 16px;">任选三中3：</span><span style="font-family: 微软雅黑;font-size: 12px"><span style="font-family:微软雅黑">从</span>11个号码中任选3个号码，与当期5个开奖号码中的任3个相同则中奖。中奖概率1/16.5，单注奖金19元。<br/><span style="font-family:微软雅黑">特点：</span>5个开奖号码任意选对3个即中奖，中奖率高。　　</span>
						</p>
						<p>
							<span style="font-weight:900;font-family: 微软雅黑; font-size: 16px;">任选四中4：</span><span style="font-family: 微软雅黑;font-size: 12px"><span style="font-family:微软雅黑">从</span>11个号码中任选4个号码，与当期5个开奖号码中的任4个相同则中奖。中奖率1/66，单注奖金78元。<br/><span style="font-family:微软雅黑">特点：</span>5个开奖号码任意选对4个即中奖，中奖率高。　　</span>
						</p>
						<p>
							<span style="font-weight:900;font-family: 微软雅黑; font-size: 16px;">任选五中5</span><span style="font-family: 微软雅黑;font-size: 12px">：<span style="font-family:微软雅黑">从</span>11个号码中任选5个号码，选中5个开奖号码即中奖，中奖率1/462，单注奖金540元。<br/><span style="font-family:微软雅黑">特点：</span>2元可买5个号码。</span>
						</p>
						<p>
							<span style="font-weight:900;font-family: 微软雅黑; font-size: 16px;">任选六中5：</span><span style="font-family: 微软雅黑;font-size: 12px"><span style="font-family:微软雅黑">从</span>11个号码中任选6个号码，选中5个开奖号码即中奖，中奖率1/77，单注奖金90元。<br/><span style="font-family:微软雅黑">特点：</span>2元可买6个号码。</span>
						</p>
						<p>
							<span style="font-weight:900;font-family: 微软雅黑; font-size: 16px;">任选七中5：</span><span style="font-family: 微软雅黑;font-size: 12px"><span style="font-family:微软雅黑">从</span>11个号码中任选7个号码，选中5个开奖号码即中奖，中奖率1/22，单注奖金26元。<br/><span style="font-family:微软雅黑">特点：</span>2元可买7个号码。</span>
						</p>
						<p>
							<span style="font-weight:900;font-family: 微软雅黑; font-size: 16px;">任选八中5</span><span style="font-family: 微软雅黑; font-size: 12px;"><span style="font-family: 微软雅黑;">：从</span>11个号码中任选8个号码，选中5个开奖号码即中奖，中奖率1/8.25，单注奖金9元。<br/><span style="font-family:微软雅黑">特点：</span>2元可买8个号码。</span>
						</p>
						<p>
							<span style="font-weight:900;font-size: 16px; font-family: 微软雅黑;">选前二组选：</span><span style="font-family: 微软雅黑;font-size: 12px"><span style="font-family:微软雅黑">从</span>11个号码中任选2个号码，与当期前2个开奖号码相同即中奖，中奖概率为1/55，单注奖金65元。<br/><span style="font-family:微软雅黑">特点：选号简单，无须排序，无重号，相当于排列</span>2组选。　</span>
						</p>
						<p>
							<span style="font-weight:900;font-family: 微软雅黑; font-size: 16px;">选前二直选：</span><span style="font-family: 微软雅黑;font-size: 12px"><span style="font-family:微软雅黑">从</span>11个号码中任选2个号码，与当期前2个开奖号码相同且顺序一致即中奖。中奖概率为1/110，单注奖金130元。<br/><span style="font-family:微软雅黑">特点：选号简单，无重号，相当于排列</span>2组选。　</span>
						</p>
						<p>
							<span style="font-weight:900;font-family: 微软雅黑; font-size: 16px;">选前三组选：</span><span style="font-family: 微软雅黑;font-size: 12px"><span style="font-family:微软雅黑">从</span>11个号码中任选3个号码，选中当期前3个开奖号码即中奖，中奖概率为1/165，单注奖金195元。<br/><span style="font-family:微软雅黑">特点：选号简单，无须排序，无重号，相当于排列</span>3组选六，奖金更丰厚。</span>
						</p>
						<p>
							<span style="font-weight:900;font-family: 微软雅黑; font-size: 16px;">选前三直选</span><span style="font-family: 微软雅黑;font-size: 12px"><span style="font-family:微软雅黑">：从</span>11个号码中任选3个号码，选中当期前3个开奖号码且顺序一致即中奖，中奖概率1/990，单注奖金1170元。<br/><span style="font-family:微软雅黑">特点：选号简单，无重号，相当于排列</span>3直选，奖金更高，中奖更容易。</span>
						</p>
						<p>
							<span style="font-weight:900;font-family: 微软雅黑; font-size: 16px;">奖级设置</span>
						</p>
						<table width="815" border="1" cellspacing="0" cellpadding="0">
							<tbody>
								<tr class="firstRow">
									<td width="239" valign="center" style="padding: 0px; background: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">奖级</span>
										</p>
									</td>
									<td width="238" valign="center" style="padding: 0px; background: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">中奖概率</span>
										</p>
									</td>
									<td width="238" valign="center" style="padding: 0px; background: rgb(204, 204, 204);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">奖金（元）</span>
										</p>
									</td>
								</tr>
								<tr>
									<td width="239" valign="center" style="padding: 0px; background: rgb(255, 255, 255);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">任选1中1</span>
										</p>
									</td>
									<td width="238" valign="center" style="padding: 0px; background: rgb(255, 255, 255);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">1/11</span>
										</p>
									</td>
									<td width="238" valign="center" style="padding: 0px; background: rgb(255, 255, 255);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">13</span>
										</p>
									</td>
								</tr>
								<tr>
									<td width="239" valign="center" style="padding: 0px; background: rgb(255, 255, 255);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">任选2中2</span>
										</p>
									</td>
									<td width="238" valign="center" style="padding: 0px; background: rgb(255, 255, 255);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">1/5.5</span>
										</p>
									</td>
									<td width="238" valign="center" style="padding: 0px; background: rgb(255, 255, 255);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">6</span>
										</p>
									</td>
								</tr>
								<tr>
									<td width="239" valign="center" style="padding: 0px; background: rgb(255, 255, 255);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">任选3中3</span>
										</p>
									</td>
									<td width="238" valign="center" style="padding: 0px; background: rgb(255, 255, 255);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">1/16.5</span>
										</p>
									</td>
									<td width="238" valign="center" style="padding: 0px; background: rgb(255, 255, 255);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">19</span>
										</p>
									</td>
								</tr>
								<tr>
									<td width="239" valign="center" style="padding: 0px; background: rgb(255, 255, 255);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">任选4中4</span>
										</p>
									</td>
									<td width="238" valign="center" style="padding: 0px; background: rgb(255, 255, 255);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">1/66</span>
										</p>
									</td>
									<td width="238" valign="center" style="padding: 0px; background: rgb(255, 255, 255);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">78</span>
										</p>
									</td>
								</tr>
								<tr>
									<td width="239" valign="center" style="padding: 0px; background: rgb(255, 255, 255);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">任选5中5</span>
										</p>
									</td>
									<td width="238" valign="center" style="padding: 0px; background: rgb(255, 255, 255);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">1/462</span>
										</p>
									</td>
									<td width="238" valign="center" style="padding: 0px; background: rgb(255, 255, 255);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">540</span>
										</p>
									</td>
								</tr>
								<tr>
									<td width="239" valign="center" style="padding: 0px; background: rgb(255, 255, 255);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">任选6中5</span>
										</p>
									</td>
									<td width="238" valign="center" style="padding: 0px; background: rgb(255, 255, 255);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">1/77</span>
										</p>
									</td>
									<td width="238" valign="center" style="padding: 0px; background: rgb(255, 255, 255);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">90</span>
										</p>
									</td>
								</tr>
								<tr>
									<td width="239" valign="center" style="padding: 0px; background: rgb(255, 255, 255);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">任选7中5</span>
										</p>
									</td>
									<td width="238" valign="center" style="padding: 0px; background: rgb(255, 255, 255);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">1/22</span>
										</p>
									</td>
									<td width="238" valign="center" style="padding: 0px; background: rgb(255, 255, 255);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">26</span>
										</p>
									</td>
								</tr>
								<tr>
									<td width="239" valign="center" style="padding: 0px; background: rgb(255, 255, 255);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">任选8中5</span>
										</p>
									</td>
									<td width="238" valign="center" style="padding: 0px; background: rgb(255, 255, 255);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">1/8.25</span>
										</p>
									</td>
									<td width="238" valign="center" style="padding: 0px; background: rgb(255, 255, 255);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">9</span>
										</p>
									</td>
								</tr>
								<tr>
									<td width="239" valign="center" style="padding: 0px; background: rgb(255, 255, 255);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">选前2组选</span>
										</p>
									</td>
									<td width="238" valign="center" style="padding: 0px; background: rgb(255, 255, 255);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">1/55</span>
										</p>
									</td>
									<td width="238" valign="center" style="padding: 0px; background: rgb(255, 255, 255);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">65</span>
										</p>
									</td>
								</tr>
								<tr>
									<td width="239" valign="center" style="padding: 0px; background: rgb(255, 255, 255);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">选前2直选</span>
										</p>
									</td>
									<td width="238" valign="center" style="padding: 0px; background: rgb(255, 255, 255);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">1/110</span>
										</p>
									</td>
									<td width="238" valign="center" style="padding: 0px; background: rgb(255, 255, 255);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">130</span>
										</p>
									</td>
								</tr>
								<tr>
									<td width="239" valign="center" style="padding: 0px; background: rgb(255, 255, 255);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">选前3组选</span>
										</p>
									</td>
									<td width="238" valign="center" style="padding: 0px; background: rgb(255, 255, 255);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">1/165</span>
										</p>
									</td>
									<td width="238" valign="center" style="padding: 0px; background: rgb(255, 255, 255);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">195</span>
										</p>
									</td>
								</tr>
								<tr>
									<td width="239" valign="center" style="padding: 0px; background: rgb(255, 255, 255);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">选前3直选</span>
										</p>
									</td>
									<td width="238" valign="center" style="padding: 0px; background: rgb(255, 255, 255);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">1/990</span>
										</p>
									</td>
									<td width="238" valign="center" style="padding: 0px; background: rgb(255, 255, 255);">
										<p>
											<span style="font-family: 微软雅黑;font-size: 12px">1170</span>
										</p>
									</td>
								</tr>
							</tbody>
						</table>
						<p>
							<span style="font-family: 微软雅黑;font-size: 12px">&nbsp;</span>
						</p>
						<p>
							<span style="font-family: 微软雅黑;font-size: 12px">&nbsp;</span>
						</p>
						<p>
							<span style="font-family: 微软雅黑;font-size: 12px">&nbsp;</span>
						</p>
						<p>
							<span style="font-family: 微软雅黑;font-size: 12px">&nbsp;</span>
						</p>
						<p>
							<br/>
						</p>
					</div>
				</div>
			</div>

			<div id="fooderbox"></div>
		</div>
		<div class="fixedgoBack">
			<div class="fix1200">
				<ul>
					<li>
						<a class="kefuicon" target="_blank" href="http://crm2.qq.com/page/portalpage/wpa.php?lang=&uin=800057725&cref=http://www.168kai.cc&ref=&pt=168%E5%BC%80%E5%A5%96%E7%BD%91&f=1&ty=1&ap=&as="></a>
					</li>
					<li>
						<!--用户反馈模态框-->
						<span class="fankuicon fankuicon_a" data-toggle="modal" data-target="#myModal">
							<span class="fankuicons"></span>
						</span>

					</li>
					<li>
						<a class="topicon" id="gotop" href="javascript:"></a>
					</li>
				</ul>
			</div>
		</div>
		<!--模态框-->
		<!-- 模态框（Modal） -->
		<div id="user_adv"></div>

	</body>

</html>