<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="format-detection" content="telephone=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11" />
		<title>PC蛋蛋幸运28玩法规则</title>
		<link rel="stylesheet" href="static/css/headorfood.css" />
		<link rel="stylesheet" href="static/css/guizejianjie.css" />
		<link rel="shortcut icon" href="../../img/icon/168favicon.ico?v=2019481527">
		<link rel="stylesheet" href="static/css/user_adv.css" />
		<!--<link rel="stylesheet" href="static/css/style.css" />-->
		<link rel="stylesheet" href="static/css/home.css" />
		<script src="static/js/jquery.min.js"></script>
		<script src="static/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="static/js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="static/js/config.js"></script>
		<script type="text/javascript" src="static/js/ga.js"></script>
		<script type="text/javascript" src="static/js/wfgz_hf.js"></script>
	</head>

	<body>
		<div class="bodybox">
			<div id="headdivbox"></div>

			<!--规则展示-->
			<div class="guize">
				<div class="guize_intro">首页 &gt;PC蛋蛋幸运28玩法规则</div>
				<div class="guize_menu">
					<ul>
						<li class="guize_head">
							<strong>玩法规则</strong>
						</li>
						<li class="hover">
							<a href="PK10_wanfaguize.html"><strong>北京PK10</strong></a>
						</li>
						<!--<li class="hover">
							<a href="tencent_ffc_wanfaguize.html"><strong>腾讯分分彩</strong></a>
						</li>-->
						<li class="hover">
							<a href="CQssc_wanfaguize.html"><strong>重庆时时彩</strong></a>
						</li>
						<li class="hover">
							<a href="hayypCZ_wanfaguize.html"><strong>重庆欢乐生肖</strong></a>
						</li>
						<li class="hover">
							<a href="XJssc_wanfaguize.html"><strong>新疆时时彩</strong></a>
						</li>
						<li class="hover">
							<a href="TJssc_wanfaguize.html"><strong>天津时时彩</strong></a>
						</li>
						<li class="hover">
							<a href="GDklsf_wanfaguize.html"><strong>广东快乐十分</strong></a>
						</li>
						<li class="hover">
							<a href="GD11x5_wanfaguize.html"><strong>广东11选5</strong></a>
						</li>
						<li class="hover">
							<a href="JSK3_wanfaguize.html"><strong>江苏快3</strong></a>
						</li>
						<li class="hover">
							<a href="SYYDJ_wanfaguize.html"><strong>十一运夺金</strong></a>
						</li>
						<li class="hover">
							<a href="CQXYNC_wanfaguize.html"><strong>重庆幸运农场</strong></a>
						</li>
						<li class="hover">
							<a href="KUAI3_wanfaguize.html"><strong>快3</strong></a>
						</li>
						<li class="hover">
							<a href="SYX5_wanfaguize.html"><strong>11选5</strong></a>
						</li>
						<li class="hover">
							<a href="BJKL8_wanfaguize.html"><strong>北京快乐8</strong></a>
						</li>
						<li class="hover">
							<a href="GXKLSF.html"><strong>广西快乐十分</strong></a>
						</li>
						<li class="active">
							<a href="EGXY28.html"><strong>PC蛋蛋幸运28</strong></a>
						</li>
						<li class="hover">
							<a href="CJDLT.html"><strong>超级大乐透</strong></a>
						</li>
						<li class="hover">
							<a href="FCSD.html"><strong>福彩3D</strong></a>
						</li>
						<li class="hover">
							<a href="FCQLT.html"><strong>福彩七乐彩</strong></a>
						</li>
						<li class="hover">
							<a href="FCSSQ.html"><strong>福彩双色球</strong></a>
						</li>
						<li class="hover">
							<a href="PLS.html"><strong>体彩排列3</strong></a>
						</li>
						<li class="hover">
							<a href="PLW.html"><strong>体彩排列5</strong></a>
						</li>
						<li class="hover">
							<a href="QXC.html"><strong>体彩七星彩</strong></a>
						</li>
						<li class="hover">
							<a href="TWBG_wanfaguize.html"><strong>台湾宾果</strong></a>
						</li>
					</ul>
				</div>
				<!--规则详情-->
				<div class="guize_detail">
					<div class="container" style="margin-top: 0px;">
						<p style="margin-top:21px;margin-bottom:21px;text-align:center;line-height:20px;background:rgb(255,255,255)">
							<span style="font-size: 18px;"><strong><span style="font-family: 微软雅黑;font-weight: 900;">pc蛋蛋幸运28玩法规则</span></strong>
							</span>
						</p>
						<p style="line-height: 20px;background: rgb(255, 255, 255)">
							<span style="font-size: 16px; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;"><strong><span style="font-size: 16px;font-weight: 900;"><span style="font-size: 16px;">第一章</span> <span style="font-size: 16px;">总</span> <span style="font-size: 16px;">则</span></span>
							</strong>
							</span>
						</p>
						<p style="line-height: 20px;background: rgb(255, 255, 255)">
							<span style="font-size: 16px; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;"><strong><span style="font-size: 16px;font-weight: 900;"><span style="font-size: 16px;"><br/></span></span>
							</strong>
							</span>
						</p>
						<p style="line-height: 20px;background: rgb(255, 255, 255)">
							<span style="font-size: 12px; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">幸运28开奖结果来源于国家福利彩票北京快乐8(官网)开奖号码，从早上9:05至23:55，每5分钟一期不停开奖。</span>
						</p>
						<p style="line-height: 20px;background: rgb(255, 255, 255)">
							<span style="font-size: 12px; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">北京快乐8每期开奖共开出20个数字，幸运28将这20个开奖号码按照由小到大的顺序依次排列；取其1-6位开奖 号码相加，和值的末位数作为幸运 28开奖第一个数值； 取其7-12位开奖号码相加，和值的末位数作为幸运28 开奖第二个数值，取其13-18位开奖号码相加，和值的末位数作为幸运 28开奖第三个数值；三个数值相加即为 幸运28最终的开奖结果<br/></span>
						</p>
						<p style="line-height: 20px;background: rgb(255, 255, 255)">
							<span style="font-size: 12px; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">幸运28开奖结果（以上面为例）就是 6+7+5=18 幸运28总共由28个号码组成，分别为0-27</span>
						</p>
						<p style="line-height: 20px;background: rgb(255, 255, 255)">
							<span style="font-size: 12px; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;"><br/></span>
						</p>
						<p style="line-height: 20px;background: rgb(255, 255, 255)">
							<span style="font-size: 16px; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;"><strong><span style="font-size: 16px;font-weight: 900;">玩法简介</span></strong>
							</span>
						</p>
						<p style="line-height: 20px;background: rgb(255, 255, 255)">
							<span style="font-size: 16px; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;"><strong><span style="font-size: 16px;"><br/></span></strong>
							</span>
						</p>
						<p style="line-height: 20px;background: rgb(255, 255, 255)">
							<span style="font-size: 12px; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">大小玩法：数字14-27为大 数字0-13为小</span>
						</p>
						<p style="line-height: 20px;background: rgb(255, 255, 255)">
							<span style="font-size: 12px; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">单双玩法: 数字1，3，5，~27为单 数字0，2，4~26为双</span>
						</p>
						<p style="line-height: 20px;background: rgb(255, 255, 255)">
							<span style="font-size: 12px; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">极值玩法: [极小0-5] [极大22-27]</span>
						</p>
						<p style="line-height: 20px;background: rgb(255, 255, 255)">
							<span style="font-size: 12px; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">组合玩法:</span>
						</p>
						<p style="line-height: 20px;background: rgb(255, 255, 255)">
							<span style="font-size: 12px; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">• 数字14，16，~26为大双 数字0，2，4，~12为小双</span>
						</p>
						<p style="line-height: 20px;background: rgb(255, 255, 255)">
							<span style="font-size: 12px; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">• 数字15，17，~27为大单 数字1，3，5，~13为小单</span>
						</p>
						<p style="line-height: 20px;background: rgb(255, 255, 255)">
							<span style="font-size: 12px; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">定位玩法(单点数字玩法): 从数字0-27中选取一个数字</span>
						</p>
						<p style="line-height: 20px;background: rgb(255, 255, 255)">
							<span style="font-size: 12px; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;"><br/></span>
						</p>
						<p style="line-height: 20px;background: rgb(255, 255, 255)">
							<span style="font-size: 16px; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;"><strong><span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; font-size: 16px;font-weight: 900;">北京快乐8</span></strong>
							</span>
						</p>
						<p style="line-height: 20px;background: rgb(255, 255, 255)">
							<span style="font-size: 16px; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;"><strong><span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; font-size: 16px;"><br/></span></strong>
							</span>
						</p>
						<p style="line-height: 20px;background: rgb(255, 255, 255)">
							<span style="font-size: 12px; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">• 官方网址：</span>
							<a href="http://www.bwlc.gov.cn/bulletin/prevslto.html?id=3" style="text-decoration: underline; font-size: 12px; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;"><span style="font-size: 12px; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">http://www.bwlc.gov.cn/bulletin/prevslto.html?id=3</span></a>
						</p>
						<p style="line-height: 20px;background: rgb(255, 255, 255)">
							<span style="font-size: 12px; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">• 开奖频率：300秒一期</span>
						</p>
						<p style="line-height: 20px;background: rgb(255, 255, 255)">
							<span style="font-size: 12px; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">• 开奖次数：每天开奖179期</span>
						</p>
						<p style="line-height: 20px;background: rgb(255, 255, 255)">
							<span style="font-size: 12px; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">• 开奖时间：开盘09:00am 关盘23:55pm [北京时间]</span>
						</p>
						<p style="line-height: 20px;background: rgb(255, 255, 255)">
							<span style="font-size: 12px; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">• 游戏简介：北京快乐8是由中国福利彩票发行中心组织发行，根据《彩票发行与销售管理暂行规定》等规定统一由北京市福利彩票发行的快开型彩票，300秒一期，每天开奖179期。</span>
						</p>
						<p>
							<span style="font-family: Calibri; font-size: 12px;">&nbsp;</span>
						</p>
						<p>
							<br/>
						</p>
					</div>
				</div>
			</div>

			<div id="fooderbox"></div>
		</div>
		<div class="fixedgoBack">
			<div class="fix1200">
				<ul>
					<li>
						<a class="kefuicon" target="_blank" href="http://crm2.qq.com/page/portalpage/wpa.php?lang=&uin=800057725&cref=http://www.168kai.cc&ref=&pt=168%E5%BC%80%E5%A5%96%E7%BD%91&f=1&ty=1&ap=&as="></a>
					</li>
					<li>
						<!--用户反馈模态框-->
						<span class="fankuicon fankuicon_a" data-toggle="modal" data-target="#myModal">
							<span class="fankuicons"></span>
						</span>

					</li>
					<li>
						<a class="topicon" id="gotop" href="javascript:"></a>
					</li>
				</ul>
			</div>
		</div>
		<!--模态框-->
		<!-- 模态框（Modal） -->
		<div id="user_adv"></div>

	</body>

</html>